{% extends "AppReservas/padre.html" %}

{% load static %}

{% block boton1 %}Encuentra tu Reserva{% endblock %}
{% block boton2 %} Clientes {% endblock %}
{% block boton3 %} Reservas {% endblock %}
{% block boton4 %} Mesas {% endblock %}

{% block titulo %}Bienvenidos al Sistema de Reservas de Nuestro Restaurante {% endblock %}
{% block subtitulo %}Intentamos crear una experiencia intuitiva y sencilla para vuestro deleite{% endblock %}

{% block contenido %}
    <h3> RESERVA UNA MESA</h3>

    <form action="{% url 'reservas' %}" method="post"> {% csrf_token %}
        <table>
        {{ formulario.as_table }}
        </table>
        <input type="submit" value="Agregar">
    </form>

    <h3>{{ mensaje}}</h3>
{% endblock %}