{% extends "AppReservas/padre.html" %}

{% load static %}

{% block boton1 %}Encuentra tu Reserva{% endblock %}
{% block boton2 %} Clientes {% endblock %}
{% block boton3 %} Reservas {% endblock %}
{% block boton4 %} Mesas {% endblock %}

{% block titulo %}Bienvenidos al Sistema de Reservas de Nuestro Restaurante {% endblock %}
{% block subtitulo %}Intentamos crear una experiencia intuitiva y sencilla para vuestro deleite{% endblock %}

{% block contenido %}
<h3> Resultados de la Búsqueda para "{{ busqueda_reserva }}" </h3>

{% if reservas %}
    <ul>
        {% for reserva in reservas %}
            <li>Cliente: {{ reserva.cliente.nombre }} - Fecha: {{ reserva.fecha_reserva }} - Hora: {{ reserva.hora_reserva }} - Personas: {{ reserva.numero_personas }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron reservas para "{{ busqueda_reserva }}".</p>
{% endif %}

{% endblock %}